<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702963451022-qc0i3ipiq5pskh31tbiourdhqp18ujrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702963451022-qc0i3ipiq5pskh31tbiourdhqp18ujrn</string>
	<key>API_KEY</key>
	<string>AIzaSyBR3YCpCenBuMO9R0HR2v8k9W1oWcDaSRs</string>
	<key>GCM_SENDER_ID</key>
	<string>702963451022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homework</string>
	<key>PROJECT_ID</key>
	<string>home-5ea34</string>
	<key>STORAGE_BUCKET</key>
	<string>home-5ea34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702963451022:ios:5397fe2a7da395be1575df</string>
</dict>
</plist>